.cards {
  position: relative;
  max-width: 1000px;
  margin-inline: auto;
}
.cards .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
  max-height: 63rem;
}
.cards .flex ul {
  list-style: none;
}
.cards .flex ul li:not(:last-of-type) {
  margin-bottom: 3.6rem;
}
.cards .flex ul li img {
  background-color: crimson;
  width: 320px;
  height: auto;
  border: none;
  border-radius: 0.5rem;
}
.cards .backdrop {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 10rem;
  background-image: linear-gradient(to top, #fff, #fff0);
  position: absolute;
  bottom: 0;
  margin-top: 0;
  width: 100%;
}
.cards .backdrop .showMore {
  margin-bottom: 2rem;
}
.cards #showMore {
  display: none;
}
.cards #showMore:checked ~ .backdrop {
  margin-top: 100rem;
  position: sticky;
  bottom: 0;
}
.cards #showMore:checked ~ .flex {
  max-height: 100%;
}
