/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
---------------------------------------------
reset
--------------------------------------------- 
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 50%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}



header,
nav,
section,
article,
aside,
footer,
hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}



html,
body {
  font-weight: 400;
  background-color: #fff;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 1rem;
  color: #393E46;
}

img {
  width: 100%;
  overflow: hidden;
}


* {
  font-family: 'Hind Siliguri', 'Roboto', sans-serif, 'VideoJs';
}



/* 
---------------------------------------------
Hide number arrows
--------------------------------------------- 
*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/


:root {
  --primary-color: #FF2E63;
  --secondary-black: #393E46;
  --light-color: #ffecf1;

}



html,
body {
  background: #fff;
  font-family: 'notoserif', sans-serif;
}

body {
  margin-top: 80px;
}



::selection {
  background: var(--secondary-black);
  color: #fff;
}

::-moz-selection {
  background: var(--secondary-black);
  color: #fff;
}





.main-blue-button a {
  display: inline-block;
  background-color: var(--secondary-black);
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
}

.main-blue-button-hover a {
  display: inline-block;
  background-color: var(--secondary-black);
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
  transition: all .3s;
}

.main-blue-button-hover a:hover {
  background-color: var(--primary-color);
}

.main-red-button a {
  display: inline-block;
  background-color: var(--primary-color);
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
}

.main-red-button-hover a {
  display: inline-block;
  background-color: var(--primary-color);
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  padding: 0.6em 1em;
  border-radius: 23px;
  letter-spacing: 0.25px;
  transition: all .3s;
}

.main-red-button-hover a:hover {
  background-color: var(--secondary-black);
}

.card {
  border: 1px solid var(--primary-color);
}


.nav-pills .nav-link.active {
  background-color: var(--primary-color);
  color: white;
}

.nav-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  ;
  margin: 0.1rem;
  padding: 0.5rem
}

.nav-link:hover {
  color: var(--secondary-black);
}

.styled-heading-one h1 {
  font-size: 1.8rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.styled-heading-one h1:after,
.styled-heading-one h1:before {
  content: " ";
  display: block;
  border-bottom: 1px solid var(--primary-color);
  border-top: 1px solid var(--primary-color);
  height: 5px;
  background-color: #f8f8f8;
}


.main-blockquote {
  position: relative;
  max-width: 620px;
  margin-bottom: 80px;
  margin: 1em;
  align-self: center;
}


.main-blockquote p {
  background-color: white;
  position: relative;
  font-weight: normal;
  margin: 0;
  border: solid 2px red;
  border-radius: 20px;
  padding: 25px;
  font-size: 14px;
}

/* main-blockquote right double quotes */
.main-blockquote p:after {
  content: "";
  position: absolute;
  border: 2px solid #e74848;
  border-radius: 0 50px 0 0;
  width: 60px;
  height: 60px;
  bottom: -60px;
  left: 50px;
  border-bottom: none;
  border-left: none;
  z-index: 3;
}

.main-blockquote p:before {
  content: "";
  position: absolute;
  width: 80px;
  border: 6px solid white;
  bottom: -3px;
  left: 50px;
  z-index: 2;
}

.main-blockquote h4 {
  position: relative;
  font-size: 17px;
  font-weight: 500;
  margin: 0;
  padding-top: 0.5em;
  z-index: 1;
  margin-left: 8rem;
  padding-left: 0.5em;
  color: var(--primary-color);
}


/* 
---------------------------------------------
header
--------------------------------------------- 
*/

header {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  height: 80px;
  z-index: 99;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.main-nav .logo img {
  width: 150px;
}



/* profile */

.home-profile i {
  color: var(--primary-color);
  font-size: 2rem;

}

.home-profile .profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}




#ProfileUpdateForm {
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
}


#ProfileUpdateForm button {
  margin-top: 1em;
}

#ProfileUpdateForm input {
  margin-bottom: 0.5em;
}

.profile-card-column .profile-picture {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 90px;
  z-index: 2;
  border: 8px solid #fff;
}

.profile-card-column .card-header {
  background-color: var(--primary-color);
  color: white;
}




/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/


.review-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 18rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 0 0 5px var(--primary-color);
  margin: 0.5em;
}

.review-card .review-card-text {
  height: 60%;
  padding: 0.5em;
}


.review-card .card-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px auto;
  border: 2px solid #fff;
  box-shadow: 0 0 5px var(--primary-color);
}

.review-card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.review-details-container {
  max-height: 95px;
  overflow: hidden;
  position: relative;
}

.review-details {
  overflow: hidden;
  text-overflow: ellipsis;
}

.see-more-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
  border: none;
  outline: none;
  z-index: 9999;
  color: var(--primary-color);
  

}


/* 
---------------------------------------------
Services Style
--------------------------------------------- 
*/

.section-heading {
  background-color: var(--primary-color);
  border-radius: 20px;
  width: 80%;
}

.our-services .services-left-dec img {
  width: 387px;
  height: 638px;
  left: -80px;
  top: -140px;
  position: absolute;
  z-index: 1;
}

.our-services .services-right-dec img {
  width: 305px;
  height: 305px;
  right: 25px;
  bottom: -120px;
  position: absolute;
  z-index: 1;
}

.our-services .container {
  position: relative;
}

.our-services {
  position: relative;
  margin-top: 0px;
  padding-top: 120px;
}

.our-services .section-heading {
  text-align: center;
  margin-bottom: 45px;
}

.our-services .section-heading h2 {
  margin: 0px 60px;
  margin-bottom: -10px;
}

.our-services .item {
  text-align: center;
  margin: 15px;
  border-radius: 20px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}

.our-services .item h4 {
  font-size: 20px;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 30px;
  line-height: 30px;
}

.our-services .item .icon {
  width: 45px;
  height: 45px;
  margin: 0 auto;
}

.our-services .item p {
  margin-top: 35px;
  padding-top: 30px;
  border-top: 1px solid #eee;
}

.our-services .owl-dots {
  text-align: center;
  margin-top: 40px;
}

.our-services .owl-dots .owl-dot {
  width: 6px;
  height: 6px;
  background-color: var(--primary-color);
  border-radius: 50%;
  opacity: 0.3;
  margin: 0px 5px;
}

.our-services .owl-dots .active {
  opacity: 1;
  width: 10px;
  height: 10px;
}


/* 
---------------------------------------------
About
--------------------------------------------- 
*/

.about-us {
  margin-top: 2em;
  padding-top: 10px;
  position: relative;

}

.about-us .container {
  position: relative;
}

.about-us .left-image {
  margin-right: 30px;
}

.about-us .section-heading h2 {
  margin-right: 60px;
}

.about-us .section-heading p {
  margin-top: 0.5em;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(68, 68, 68);
}

.about-us .fact-item .icon {
  width: 45px;
  height: 45px;
}

.about-us .fact-item {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us .fact-item .count-digit {
  font-size: 1.2rem;
  font-weight: 700;
  color: #2a2a2a;
  margin-top: 5px;
}

.about-us .fact-item .count-title {
  font-size: 15px;
  color: var(--primary-color);
}

.about-us .fact-item p {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #eee;
}

.about-us .count-area-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.about-us .services-left-dec img {
  width: 387px;
  height: 638px;
  left: -100px;
  top: -140px;
  position: absolute;
  z-index: 1;
}

.about-us .services-right-dec img {
  width: 305px;
  height: 305px;
  right: 25px;
  bottom: -120px;
  position: absolute;
  z-index: 1;
}

.about-us .counter-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


/* Leaderboard  */

.leaderboard {
  margin-top: 1em;
  padding: 1em;

}

.table-container {
  z-index: 2;
}

.leaderboard .section-heading {
  margin-bottom: 1em;
}


.table100 {
  background-color: #fff;
  text-align: center;
}

table {
  width: 100%
}

th,
td {
  font-weight: unset;
}

.column1 {
  width: 33%;
}

.column2 {
  width: 13%
}

.column3 {
  width: 22%
}


.table100-head th {
  padding-top: 1em;
  padding-bottom: 1em;
}

.table100-body td {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.table100 {
  position: relative;
  padding-top: 4em;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0
}

.table100-body {
  max-height: 585px;
  overflow: auto
}

.table100.ver1 th {
  font-size: 1rem;
  color: #fff;
  line-height: 1.4;
  background-color: var(--primary-color);
}

.table100.ver1 td {
  font-size: 1rem;
  color: var(--secondary-black);
  line-height: 1.4
}

.table100.ver1 .table100-body tr:nth-child(even) {
  background-color: rgb(255 246 246);
}

.table100.ver1 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
  -o-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
  -ms-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15)
}


/* 
---------------------------------------------
Portfolio
--------------------------------------------- 
*/

.our-portfolio .portfolio-left-dec img {
  width: 342px;
  height: 311px;
  left: 45px;
  top: 120px;
  position: absolute;
  z-index: 1;
}

.our-portfolio {
  padding-top: 3em;
  position: relative;
}

.our-portfolio .section-heading {
  text-align: center;
  margin-bottom: 0.5em;
}

.our-portfolio .section-heading h2 {
  text-align: center;
  margin: 0px 60px 0px 60px;
  margin-bottom: -5px;
  position: relative;
  z-index: 1;
}

.our-portfolio {
  margin: 0px 15px;
}

.our-portfolio .item .thumb {
  position: relative;
}

.our-portfolio .item .thumb .hover-effect {
  bottom: 0;
}


.our-portfolio .item .hover-effect {
  position: absolute;
  background-image: url(../images/hover-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .5s;
  bottom: -240px;
  right: 0;
  width: 100px;
  height: 80px;
}

.our-portfolio .item .hover-effect .inner-content {
  position: absolute;
  right: 0.5em;
  bottom: 0;
  text-align: right;
}

.our-portfolio .item .hover-effect .inner-content h4 {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
}

.our-portfolio .item .hover-effect .inner-content span {
  font-size: 12px;
  color: #fff;
}

.our-portfolio .item .thumb img {
  border-radius: 20px;
  transition: all .3s;
  border: 1px solid gray;
}


.portfolio-all-button {
  text-align: center;
  margin: 1em;
}


/* 
---------------------------------------------
Pricing
--------------------------------------------- 
*/

.pricing-tables .tables-left-dec img {
  width: 418px;
  height: 851px;
  left: 0;
  top: 120px;
  position: absolute;
  z-index: 1;
}

.pricing-tables .tables-right-dec img {
  width: 359px;
  height: 848px;
  right: 0;
  top: 45px;
  position: absolute;
  z-index: 1
}

.pricing-tables {
  z-index: 2;
  position: relative;
  padding-top: 3em;
  margin-top: 0px;
}

.pricing-tables .section-heading {
  text-align: center;
  margin-bottom: 1em;
}

.pricing-tables .section-heading h2 {
  text-align: center;
  margin: 0px 60px 0px 60px;
  margin-bottom: -5px;
  position: relative;
  z-index: 1;
}

.pricing-tables .item {
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 45px;
}

.pricing-tables .item h4 {
  font-size: 20px;
  font-weight: 700;
  color: #2a2a2a;
}

.pricing-tables .item em {
  color: var(--primary-color);
  font-size: 15px;
  display: block;
  margin-top: 25px;
  text-decoration: line-through;
  font-style: normal;
}

.pricing-tables .item span {
  font-size: 44px;
  color: var(--primary-color);
  font-weight: 700;
  display: block;
  margin-top: -5px;
}

.pricing-tables .item ul {
  margin-top: 30px;
}

.pricing-tables .item ul li {
  display: block;
  font-size: 15px;
  color: #7a7a7a;
  margin-bottom: 20px;
}

.pricing-tables .item .main-blue-button {
  margin-top: 40px;
}

.pricing-tables .first-item {
  background-image: url(../images/first-plan-bg.png);
}

.pricing-tables .second-item {
  background-image: url(../images/second-plan-bg.png);
}

.pricing-tables .third-item {
  background-image: url(../images/third-plan-bg.png);
}





/* 
---------------------------------------------
Review
--------------------------------------------- 
*/


    /* timer */

    .timer {
      border: 1px solid #d9ddef;
      border-radius: 5px;
      margin-top: 1em;
      padding: 1em;
  }

  #timer {
      font-size: 2.5em;
      color: white;
  }

  #timer div {
      display: inline-block;
      min-width: 1.5rem;
      padding: 0.1em;
      background: #020b43;
      border-radius: 10px;
      border: 1px solid #030d52;
      margin: 0.1em;
  }

  #timer div span {
      color: #ffffff;
      display: block;
      margin-top: 0.1em;
      font-size: .40em;
      font-weight: 400;
  }

  .timer-2 {
      border: 1px solid #d9ddef;
      border-radius: 5px;
      display: flex;
      justify-content: space-around;
      margin-top: 1em;
      padding: 1em 0em 1em 0em;
  }


  @media (max-width: 760px) {
    #timer {
        font-size: 2rem;
    }
}

  /* timer */



/* 
---------------------------------------------
forms
--------------------------------------------- 
*/


form#contact {
  position: relative;
  z-index: 2;
  background-image: url(../images/contact-form-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 60px 120px;
  border-radius: 20px;
}

form#contact input,
form#contact select {
  width: 100%;
  height: 46px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid #9bdbf8;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  color: #2a2a2a;
  padding: 0px 0px;
  margin-bottom: 1em;
}

form#contact input::placeholder {
  color: #afafaf;
}

form#contact button,
form#ProfileUpdateForm button,
.main-button {
  display: inline-block;
  background-color: var(--primary-color);
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
  border: none;
  outline: none;
  transition: all .3s;
}

form#contact button:hover,
.main-button:hover {
  background-color: var(--secondary-black);
}



form#contact select {
  color: #afafaf;
}


/* 
---------------------------------------------
Auth
--------------------------------------------- 
*/

.auth-heading {
  margin-top: 10%;
  margin-bottom: 1em;
  color: var(--primary-color);
}

.auth-footer {
  margin: 1em;
  color: var(--primary-color);
  font-weight: 400;
  line-height: 2em;
}

.auth-footer a {
  color: var(--secondary-black);

}


/* 
---------------------------------------------
Course style
--------------------------------------------- 
*/

.course-price-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-price-box span,
.course-price-box p {
  font-weight: bold;
}

/* 
---------------------------------------------
Store Style
--------------------------------------------- 
*/
.store-logo i {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-right: 0.5em;
}

.store-logo .start-100 {
  left: 80% !important;
}


/* search */

#search-icon-main {
  font-size: 1.6rem;
  color: var(--primary-color);
}


.search {
  position: relative;
  background: white;
  border-radius: 5px;

}

.search label {
  position: absolute;
  font-size: 1.5rem;
  padding-right: 1rem;
  color: var(--primary-color);
  cursor: pointer;
  top: 20%;
  transform: translateX(-100%);

}


.search label:hover {
  color: var(--green);

}

.search input {
  height: 1rem;
  width: 100%;
  outline: none;
  border: 2px solid var(--primary-color);
  padding: 1em;
  border-radius: 10px;

}

.results {
  width: 100%;
  position: absolute;

}


.results.active {
  background: white;
  animation: fade-in 500ms forwards;
  z-index: 2;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.results.active li {
  display: block;


}

.results li a {
  display: flex;
  justify-content: space-between;
  color: var(--secondary-black);


}


.results li {
  list-style: none;
  width: 100%;
  border-radius: 3px;
  padding: 1.5rem 0.5em;
  display: none;
  font-size: small;
  cursor: pointer;
  font-size: 16px;
  border-bottom: .5px solid red;


}

.results li:hover {
  background-color: rgb(207, 202, 202);
}




.searchbox.active {
  display: block;
  position: absolute;
  margin-top: 15rem;
  z-index: 2;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#search-icon-main {
  cursor: pointer;
}

@keyframes fade-in {
  0% {
    opacity: 0;

  }

  100% {
    opacity: 1;
  }

}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.searchbox {
  width: 40%;

}


@media (max-width: 750px) {
  .searchbox {
    position: absolute;
    top: 4em;
    width: 100%;
    z-index: 2;
    right: 0;
    left: 0;
  }

  .search-mobile-active {
    display: none;
  }

  #search-icon-main {
    margin-right: 0.5em;
  }


  .results {
    width: 100%;

  }

}


@media (min-width: 750px) {
  #search-icon-main {
    display: none;
  }


  .searchbox {
    margin-right: 15%;
  }

  .logo {
    margin-right: 10em;
  }

  .buttons-con {
    width: 75%;
  }
}

/* search */



/* book card */


.book-container .category-title {
  color: #d00404;
}

.book-card {
  display: flex;
  flex-direction: column;
  height: 20rem;
  width: 15rem !important;
  padding: 1em;
  margin: 2.5em !important;
  color: var(--secondary-black);
  transition: box-shadow 0.3s ease-in-out;
}

.book-card img {
  min-height: 80%;
}

.book-card h1 {
  font-size: 1rem;
  font-weight: bold;
}

.book-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);

}

/* book card end */



/* book page */
.preview-btn {
  background: #d00404;
  color: #fff;
  padding: .50rem 0.5rem;
  border-radius: 0 0px 30px 0;
  top: 75%;
}

.single-book-title {
  font-size: 2rem;
  color: #d00404;
}

.book-cover-photo {
  width: 200px;
  height: 300px;
}

.book-cover-photo img {
  width: 55%;
  object-fit: cover;
}

.book-table {
  width: 60%;
}

.book-table th {
  background-color: #d00404;
  color: white;
  font-weight: bold;
  width: 30%;
  padding: 0.5em;
  font-size: 1.1rem;
}

.book-table td {
  border: 1px solid lightgrey;
  text-align: left;
  padding: 0.5em;
  font-size: 1.1rem;
  font-weight: 500;
  color: #403333;
}

.spec-line {
  background: #d00404;
  height: 2px;
  width: 80%;
  margin: 1em;
}


/* book page */


/* cart section */
.btn-con {
  align-items: center;
  flex-direction: column;
  text-align: center;

}



.cart-page h3 {
  font-weight: bold;
  font-size: 1rem;
}

.cart-container {
  border-radius: 10px;
  margin-bottom: 1em;
  background-color: white;
  padding: 0.5em;
}

.cart-items {
  padding: 0.5em;
  width: 100%;
  margin: 2rem auto;
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-bottom: 1rem;
  border: solid 0.5px gray;
  padding: 1rem;
  border-radius: 20px;
}

.cart-img {
  width: 50px;
  margin-right: 0.5em;
}

.cart-quantity-btn {
  border-radius: 5px;
  border: 0.5px #FF0000;
}



.total-price {
  flex: 1;
}


button#removeItembtn {
  font-size: 1rem;
  border-radius: 50%;
  background: red;
  border: red;
  color: #ffff;
  margin-left: 10px;
}

/* cart section end  */






/* 
---------------------------------------------
Store Style
--------------------------------------------- 
*/





/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/

.footer-dec {
  width: 100%;
  margin-top: 1em;

}


/* 
---------------------------------------------
responsive
--------------------------------------------- 
*/


@media (min-width: 1200px) {

  .review-left,
  .review-right {
    display: flex;
  }

  .user-comments {
    display: none;
  }

  .video-box {
    width: 70%;
  }

}


@media (min-width: 760px) {
  .login-mobile-button {
    display: none;
  }
}


@media (max-width: 1240px) {
  .main-banner::before {
    width: 640px;
    height: 526px;
  }

  .auth-heading {
    margin-top: 20%;
  }


}

@media (max-width: 992px) {
  .main-banner::before {
    display: none;
  }

  .main-banner .item {
    margin-right: 0px;
  }

  .main-banner {
    padding-bottom: 0px;
  }

  .about-us .section-heading h2 {
    margin-right: 0px;
  }

  .fact-item {
    text-align: center;
  }

  .fact-item .icon {
    margin: 0 auto;
  }

  .our-portfolio .section-heading h2,
  .pricing-tables .section-heading h2 {
    margin: 0px;
  }

  .pricing-tables .item {
    margin-bottom: 30px;
  }

  .subscribe .inner-content {
    padding: 60px 30px;
  }

  .our-videos ul.nacc {
    margin-bottom: 30px;
  }

  .our-videos .naccs .menu div img {
    border-radius: 50px;
  }

  .our-videos .menu .thumb .inner-content {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .contact-us .section-heading h2 {
    margin-right: 0px;
    text-align: center;
  }

  .our-videos ul.nacc li {
    transform: translateX(0px);
    transform: translateY(-50px);
  }

  .our-videos .nacc .thumb iframe {
    height: 500px;
  }

  form#contact {
    margin-left: 0px;
  }

  form#contact {
    padding: 45px 30px;
  }

}

@media (max-width: 767px) {
  .hero-about p {
    width: 95%;
  }

  .main-banner .item .down-buttons {
    display: inline-block;
  }

  .main-banner .item .down-buttons .main-blue-button {
    margin-right: 0px;
    margin-bottom: 15px;
  }

  .main-banner .item .down-buttons .call-button a {
    margin-left: 0px;
  }

  .subscribe .inner-content:after {
    z-index: -1;
  }

  .subscribe .inner-content {
    padding: 60px 30px 100px 30px;
  }

  .subscribe .inner-content form input {
    width: 49%;
  }

  .subscribe .inner-content form button {
    width: 100%;
    background-color: var(--primary-color);
    margin-top: 30px;
  }

  .our-videos ul.nacc li {
    transform: translateX(0px);
    transform: translateY(-50px);
  }

  .contact-left-dec {
    display: none;
  }

  .contact-us .info {
    display: inline-block;
  }

  .contact-us .info span {
    margin-bottom: 20px;
  }

  .table100.ver1 th {
    font-size: 18px;
  }

  .table100-head th {
    padding-top: unset;
    padding-bottom: unset;

  }

  .review-left,
  .review-right {
    display: none;
  }

  .user-comments {
    display: block;
  }

  .auth-heading {
    margin-top: 30%;
  }

  .book-card {
    width: 10rem !important;
    height: 16rem !important;
    margin: 0.5em !important;
  }

  .book-card img {
    min-height: 70%;
  }

  .book-table {
    width: 80%;
  }



}